/*Рекомендуется располагать свойства в следующем порядке:

позиционирование:
  position,
  left/right/top/bottom,
  float,
  clear,
  z-index.

Затем размеры и отступы:
  width,
  height,
  margin,
  padding…
  border

Общее оформление:
  list-style-type,
  overflow…

Цветовое и стилевое оформление:
  background, color,
  font…
*/


html,
body {
    height: 100%;
    font-size: 18px;
    font-family: Geometria, sans-serif;
    background-color: darkgray;
    color: #ccc;
}

.gallery a {
    text-decoration: none;
}

.gallery figure {
    margin: 0;
    padding: 0;
}

.gallery ul,
.gallery li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.img {
    max-width: 100%;
    height: 100%;
    /*object-fit: cover;*/
}

/*безопасное скрытие элемента*/
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* relative */
.gallery-container {
    position: relative;
    margin-top: 150px;
    width: 1362px;
    min-height: 400px;
    outline: 2px dashed gold;
}

.gallery {
    display: grid;
    gap: 155px;
}

.gallery__main-content {
    outline: 2px dashed red;
    display: none;
    justify-content: space-between;
}


/* ==================================== */
/* ======== Левые кнопки coverа ======= */
/* ==================================== */
.gallery__cover-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px 0;
    min-width: 95px;
    max-height: 495px;
    overflow-y: scroll;
}

/* ==================================== */
/* ======== Центральный cover ========= */
/* ==================================== */

.gallery__slider {
    outline: 2px dashed red;
    width: 750px;
}

.gallery__slider-desc {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #606060;
}

/* ==================================== */
/* ======== Правый блок меню ========== */
/* ==================================== */
.gallery__content-desc {
    width: 410px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
}

.gallery__nav {
    margin-bottom: 55px;
}

.gallery__nav-btn {
    position: relative;
    font-size: 20px;
    text-align: left;
    background: none;
    border: none;
    padding-left: 30px;
    outline: none;
    letter-spacing: 0.05em;
    color: #141414;
    border-left: 1px solid #E74E0F;
}

.gallery__nav-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 60px;
}

.gallery__text-row {
    height: 250px;
    margin-bottom: 30px;
    overflow-x: hidden;
    overflow-y: scroll;
    outline: 2px dashed red;
}

.gallery__text {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #606060;
}

.gallery__qr-code {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallery__qr-text {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #141414;
}

/* ==================================== */
/* ======== нижний блок card ========== */
/* ==================================== */
.gallery__card {
    padding-left: 168px;
    background: gray;
}

.gallery__card-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0 38px;
}

.gallery__card-item {
    width: 355px;
    min-height: 105px;

}

.gallery__card-img {
    outline: 2px solid black;
    object-fit: cover;
    min-width: 355px;
    min-height: 235px;
}

.gallery__card-text {
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #606060;
}

/* ==================================== */
/* ======== классы для скрытия ======== */
/* ==================================== */
.gallery__main-content.is-active {
    display: flex;
}

.gallery__card-item.is-active {
    outline: 4px dashed red;
    /*display: none;*/
}
